body{
    background-color: rgb(5, 5, 5);
    margin: auto;
}
h1{ color: rgb(192, 13, 237);
    text-align: center;
    position: relative;
    right: 40%;
    letter-spacing: 15px;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 20px;
}

h2{
    color: rgb(252, 44, 207);

}

main{
    border-style: hidden;
    background-origin: border-box;
    color: aliceblue;
    padding: 0%;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    left: 40%; 
    font-size: 20px; 
}
textarea{
    padding: 10px;

}

.select{
    text-align: center;
    justify-items: center;

}
.chave{
    color: rgb(204, 108, 242);
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#mensagens {
    box-shadow: 0px 10px 10px;
    background-color: rgb(46, 112, 253);
    background:rgb(252, 252, 252);
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    width: 500px;

}
#mensagens:hover {
    background: white;
}
